.container-profile {
    width: 50%;
    margin: 0 auto;
    margin-top: 5vh;
    height: 83vh;
    overflow: hidden
}

.main-info-container {
    display: flex;
    width: calc(100% - 230px);
    background-color: #FFFFFF;
    border-radius: 20px;
    flex-direction: column;
    margin-left: 20px;
}

.image-prof-container {
    float: left;
    width: 230px;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 15px;
}

.profile-image {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.img-change {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    background: rgba(172, 128, 193, 0.7);
    border: 1px solid rgba(175, 175, 175, 0.3);
    border-radius: 5px;
    color: #FFFFFF;
    width: 130px;
    padding: 5px;
}

.container-head {
    display: flex;
}

.main-info-name {
    color: rgb(172, 128, 193);
    font-size: 25px;
    margin: 15px;
    margin-left: 20px;
}

.main-info-status {
    color: rgba(172, 128, 193, 0.5);
    margin: 15px;
}

.main-info-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-info-social-data {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    color: rgba(175, 175, 175)
}

.photo-carousel-container {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
}

#img1 {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(175, 175, 175, 0.3);
    margin: 0 2px 0 2px;
    border-radius: 5px;
}

#img2 {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(175, 175, 175, 0.3);
    margin: 0 2px 0 2px;
    border-radius: 5px;
}

#img3 {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(175, 175, 175, 0.3);
    margin: 0 2px 0 2px;
    border-radius: 5px;
}


@media screen and (max-width: 1300px) {
    .container-head {
        display: flex;
        flex-direction: column;
        
    }
    .image-prof-container {
        margin: 0 auto;
    }
    .main-info-container {
        margin: 0 auto; 
    }
  }