.background {
    position: relative;
    min-height: 60vh;
    text-align: center;
    background-image: url('../../images/seminar-art.png');
    background-size: 100%;
    background-repeat: no-repeat;
    filter: blur(250px);
}

.main {
    min-width: 100%;
    min-height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
}

.container-profile {
    min-width: 55%;
    max-width: 55%;
    margin: 0 auto;
    margin-top: 5vh;
    min-height: 83vh;
    flex-direction: row;
}

.info-container {
    width: 100%;
}

.main-info-container {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px 15px 5px 5px;
    width: 100%
}

.image-prof-container {
    display: flex;
    min-width: 270px;
    height: 270px;
    border-radius: 15px 5px 5px 5px;
    background-color: #ffffff;
    padding: 15px;
}

.profile-image-choice {
    border-radius: 100px 20px;
}

.main-info-name {
    color: rgb(167, 121, 189);
    font-size: 25px;
    margin: 15px;
    margin-left: 20px;
}

.main-info-usname {
    color: rgba(172, 128, 193, 0.5);
    font-size: 20px;
    margin: 15px;
}

.main-info-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main-info-social-data {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    color: rgba(175, 175, 175)
}

/* SMALL */

.main-info-container-small {
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    justify-content: center;
}

.main-info-name-small {
    color: rgb(167, 121, 189);
    font-size: 25px;
    margin-left: 20px;
}

.main-info-usname-small {
    color: rgba(172, 128, 193, 0.5);
    font-size: 20px;
    margin-left: 20px;
}

.info-container-small {
    display: flex;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px 15px 15px 15px;
    width: 100%;
    align-items: center;
}

.container-profile-small {
    min-width: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 3vh;
    min-height: 83vh;
    flex-direction: column;
}

.image-prof-container-small {
    display: flex;
    min-width: 120px;
    height: 120px;
    border-radius: 15px 15px 15px 15px;
    background-color: #ffffff;
}