input::placeholder {
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.faq {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
}

.faq-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 30px;
    color: #AC80C1;
}

.faq-icon:hover {
    color: #43314b;
}