.posts-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 1vw; */
    margin: 0 auto;
    width: 80%;
    column-count: 3
}

.post-image-prof {
    height: 100%;
}

.post-block {
    break-inside: avoid-column;
}

.image-in-post {
    width: 100%;
    border-radius: 5px;
}

.video-in-post {
    width: 100%;
    border-radius: 5px;
}

.post-overlay {
    background: rgba(0,0,0, .4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 5px;
}


.post-block:hover .post-overlay{
    display: flex;
}

.post-likes {
    font-size: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.post-comments {
    font-size: 20px;
    margin: 10px;
    text-align: center;
    display: inline-block;
}

.video-icon {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}