body {
    margin: 0;
    font-family: Menlo, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  

.app {
    align-items: center;
    margin-left: 30px;
    height: 5rem;
    color: cadetblue;
    font-size: 2rem;
}
