<!DOCTYPE HTML>
<html>
<head>
    <title>ZXC_IO</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <h1>Enter</h1>
    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="All chat">
        <input type="submit" value="Send Message">
    </form>
    <h2>Logs</h2>
    <div id="log" ></div>
</body>