.container {
    min-height: 90vh;
    text-align: center;
    background-image: url('../../images/seminar-art.png');
    background-size: 100%;
    background-repeat: no-repeat;
    filter: blur(250px);
}

.background-image {
    
}
