.message-panel-container {
    display: 'grid';
    grid-template-columns: '3fr 2fr';
    grid-gap: '13px';
    margin-top: '10px';
    background-color: var(--new-post-bg-white-to-purple-color);
}

.message-panel-message {
    background-color: var(--new-post-bg-white-to-purple-color);
}

.message-panel-follow {
    background-color: var(--new-post-bg-white-to-purple-color);
    color: var(--text-color);
}