input::placeholder {
    font-size: 12px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.5);
}

input::-webkit-datetime-edit {
    color: 'black'; 
}

input[value=""]::-webkit-datetime-edit {
    color: transparent; 
}