.liquid-button {
    cursor: pointer;
}

/* From cssbuttons.io by @Custyyyy */
.button__sign {
    display: inline-block;
    border-radius: 7px;
    border: none;
    background: #AC80C1;
    color: white;
    font-family: inherit;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 4px 70px -11px #ae00ff;
    width: 10em;
    padding: 1em;
    transition: all 0.4s;
    cursor: pointer;
   }
   
   .button__sign span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
   }
   
   .button__sign span:after {
    content: ' Sign in';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.7s;
   }
   
   .button__sign:hover span {
    padding-right: 3.55em;
   }
   
   .button__sign:hover span:after {
    opacity: 4;
    right: 0;
   }