.openpost-box {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,.5);
    overflow: auto;
    z-index: 4;
}

.openpost-box_close {
    position: fixed;
    top: 64px;
    right: 12px;
    z-index: 5;
    
    color: white;
}

.create-post-box__close-icon {
    font-size: 52px;
}

.openpost-box_content {
    background-color: #FFFFFF;
    position: absolute;
    width: 50%;
    margin: 50px;
    height: fit-content;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    .openpost-box_content {
        width: 90%;
        margin-top: 100px;
    }
}

.post-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.post-left {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.post-delete_button {
    height: 20px;
    width: 20px;
    margin: 20px;
    color: rgba(172, 128, 193, 1);
    cursor: pointer;
}

.post-delete_button:hover {
    color:rgb(73, 39, 88);
}

.post-avatar {
    object-fit: cover;
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 18px;
}

.post-pers-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-pers-nickname {
    color: rgba(172, 128, 193, 1);
    font-size: 18px;
    margin-bottom: 1px;
}

.post-datatime {
    color: rgba(172, 128, 193, 0.6);
    font-size: 13px;
    word-spacing: -1px;
}

.post-text {
    margin-bottom: 20px;
    margin-top: 10px;
}

.post-textarea {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    outline: none;
    background-color:rgba(240, 248, 255, 0);
    border: 0;
    font-size: 15px;
    color: rgb(87, 81, 90);
    resize: none;
    word-break: break-all;
}

.post-image-container {
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.post-image {
    display: block;
    margin: 0 auto;
    width: 60%;
    height: 30%;
    border-radius: 18px;
}

.post-social-interact-container {
    width: 100%;
}

.post-social-interact {
    display: flex;
    float: right;
    width: 100px;
    border-radius: 20px;
    background-color: rgba(172, 128, 193, 0.2);
    font-size: 20px;
    justify-content: space-around;
    margin: 10px;
}

.post-icon {
    margin: 5px;
    color: rgba(172, 128, 193, 1);
}
