.create-post-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    overflow: auto;
    z-index: 4;
}

.create-post-content {
    background-color: #FFFFFF;
    position: absolute;
    width: 50%;
    min-height: 60vh;
    border-radius: 20px;
}

.create-post-box__close {
    position: fixed;
    top: 64px;
    right: 0px;
    z-index: 5;
    padding-right: 12px;
    color: black;
}

.create-post-box__close-icon {
    font-size: 52px;
}