.header {
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 2;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:  60%;
    height: 100%;
    align-items: center;
}

.right_bar {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:  60%;
    height: 100%;
    align-items: center;
}

.right_bar {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.header-link {
    text-decoration: none;
    color: #AC80C1;
    font-size: 30px;
}

.menu-link {
    text-decoration: none;
    color: #AC80C1;
    font-size: 20px;
    padding-right: 10%;
}

.menu-link:hover {
    color: #43314b;
}

.header-link:hover {
    color: #43314b;
}

.find_over_form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.find_over {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(175, 175, 175, 0.3)
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 5%;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .tabletBar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .find_over_form {
        justify-content: space-between;
        margin: 18px 0;
    }
    .find_over {
        width: 100%;
    }
    .menu-link-bot {
        padding: 12px;
        border-radius: 5px;
    }
    .menu-link-bot:hover {
        background-color: #f5eaea;
    }
}

.fa-search{
    margin-left: 10px;
    color: #AC80C1
}

.fa-search:hover{
    color: #43314b;
}