.audio-header::-webkit-media-controls-mute-button {
    display: none !important;
    }

.forum-icon-tablet {
    transition: color .07s;
    color: #AC80C1;
    top: 8px;
    left: 48px;
}

.appearing-animation-forum-icon-tablet {
    display: block;
    animation-name: forumIconTabletAppearing;
    animation-duration: .4s;
}

.disappearing-animation-forum-icon-tablet {
    visibility: hidden;
    animation-name: forumIconTabletDisappearing;
    animation-duration: .4s;
}

@keyframes forumIconTabletDisappearing {
    0% {
        top: 8px;
        left: 48px;
    }
    100%   {
        top: -64px;
        left: -48px;
        visibility: hidden;
    }
}

@keyframes forumIconTabletAppearing {
    0%   {
        top: -64px;
        left: -48px;
    }
    100% {
        top: 8px;
        left: 48px;
    }
}

.left-appearing-animation-reload-icon-tablet {
    display: block;
    animation-name: reloadIconTabletAppearing;
    animation-duration: .4s;
}

.left-disappearing-animation-reload-icon-tablet {
    visibility: hidden;
    animation-name: reloadIconTabletDisappearing;
    animation-duration: .4s;
}

@keyframes reloadIconTabletDisappearing {
    0% {
        left: 48px;
    }
    100%   {
        left: -48px;
        visibility: hidden;
    }
}

@keyframes reloadIconTabletAppearing {
    0%   {
        left: -48px;
    }
    100% {
        left: 48px;
    }
}

.reload-focus {
    animation-name: rotation;
    animation-duration: .4s;
}

@keyframes rotation {
    100% {
        transform: rotate(360deg);
    }
}

.reload-focus-back {
    animation-name: rotationBack;
    animation-duration: .4s;
}

@keyframes rotationBack {
    100% {
        transform: rotate(-360deg);
    }
}

.forum-icon-tablet:hover {
    color: #826092;
}

.audio-header {
    margin: 0;
}


.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width:  70%;
    height: 100%;
    align-items: center;
}

.right_bar {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    color: #AC80C1;
}

.header-link {
    text-decoration: none;
    color: #AC80C1;
    font-size: 30px;
}

.menu-link {
    text-decoration: none;
    color: #AC80C1;
    padding: 3%;
    white-space: nowrap;
    font-size: 22px;
    cursor: pointer;
}

.menu-link-audio {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding-left: 5%;
    white-space: nowrap;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.header-link:hover {
    color: #43314b;
}

.find_over_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.find_over_form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
}

.dropdown-search {
    margin-left: 5px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 34px;
}

.dropdown-item {
    background-color: #bfa4cc;
    padding: 5px 55px;
    color: white;
    width: 100%;
    display: flex;
    margin-bottom: 1px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 7px;
}

@media screen and (max-width: 769px) {
    .dropdown-search {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-bottom: 10px;
    }
    
    .dropdown-item {
        background-color: #bfa4cc;
        padding: 5px 55px;
        color: white;
        width: 100%;
        display: flex;
        margin-bottom: 1px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.find_over {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid rgba(175, 175, 175, 0.3);
    background-color: var(--find-input-bg-color);
    color: var(--text-black-to-purple2-color);
}

.find_over::placeholder {
    color: var(--text-black-to-purple2-color);
}

@media screen and (max-width: 1024px) {
    .container {
        margin: 5%;
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .tabletBar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .find_over_form {
        justify-content: space-between;
        margin: 22px 0 15px 0;
    }
    .find_over {
        width: 100%;
    }
    .menu-link-bot {
        padding: 12px;
        border-radius: 5px;
        white-space: nowrap;
    }
    .menu-link-bot:hover {
        background-color: var(--chat-hover-color);
    }
}

.fa-search{
    margin-left: 10px;
    color: #AC80C1
}

.fa-search:hover{
    color: #43314b;
}
