.header {
    display: flex;
    height: 64px;
    width: 100%;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.header-link {
    margin-left: 10%;
    text-decoration: none;
    color: #AC80C1;
    font-size: 20px;
}


.header-link:hover {
    color: #43314b;
}