.forum__input::placeholder {
    font-size: 0.7em;
    color: var(--text-white-to-purple-color);
}

.forum__input {
    background-color: var(--forum-items-bg-color);
}

.button_send {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: black;
    border: none;
    background-color: var(--forum-items-bg-color);
}

.button_send:hover i {
    transform: rotate(45deg);
}

.chat-link {
    text-decoration: none;
    color: #AC80C1;
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
}

.chat-link:hover {
    background-color: var(--chat-hover-color);
}

.forum-main-block {
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    max-width: 1440px;
    display: grid;
    grid-template-columns: minmax(150px, 300px) 1fr;
    width: 100%;
    padding: 2%;
    margin: 0 auto;
}