@import url(https://fonts.googleapis.com/css?family=Didact+Gothic|Comfortaa:400,700&subset=latin,cyrillic);

html {
    overflow-x: hidden;
}

* {
    font-family: 'Comfortaa';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #F4F4F4;
    margin-top: 64px;
    min-height: calc(100vh - 64px);
}